html, body
{
    margin: 0%;
    padding: 0%;
    width: 100%;
    min-height: 100%;
    font-size: 142%;
    font-family: 'Brush Script MT', cursive;
    color: #520052;
}

.background
{
    position: fixed;
    z-index: -1;
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.home
{
    padding: 4.2% 7.7% 0 7.7%;
    margin-bottom: 1.7cm;
}

.reload
{
    font-size: 177%;
    font-weight: 900;
    color: #520052;
    background: none;
    border: none;
}

.random
{
    text-decoration: none;
    color: #520052;
}

.unit
{
    position: relative;
    display: block;
    margin: 0%;
    padding: 4.2% 4.2% 0 4.2%;
}

.select
{
	margin: 2.4% 4.2% 0 4.2%;
	min-height: 70px;
    max-width: 10cm;
	display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px
}

.button
{
    color: #520052;
    display: grid;
    margin: 0% 4.2% 0 4.2%;
    max-width: 10cm;
    grid-template-columns: auto auto auto;
}

.linkb
{
    font-weight: 900;
    color: #520052;
    font-size: 177%;
    background: none;
    border: none;
}

.query
{
    position: relative;
    display: block;
    margin: 2.4% 4.2% calc(4.2% + 0.7cm) 4.2%;
    padding: 0%;
}

.settings
{
    position: absolute;
    margin: 0;
    top: 0;
    width: 100%;
    height: 1.7cm;
}

.music
{
    position: absolute;
    top: 1.7cm;
    width: 100%;
    bottom: 1.7cm;
}

.sound {
    position: absolute;
    margin: 0;
    bottom: 0;
    height: 1.7cm;
    width: 50%;
}

.notes {
    position: absolute;
    margin: 0;
    bottom: 0;
    height: 1.7cm;
    left: 50%;
    width: 50%;
}