html, body
{
    margin: 0%;
    padding: 0%;
    width: 100%;
    min-height: 100%;
    font-size: 24px;
    font-family: 'Brush Script MT', cursive;
    color: #520052;
}

.background
{
    position: fixed;
    z-index: -1;
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.reload
{
    position: fixed;
    left: 4.2%;
    top: 10%;
    font-size: 42px;
    font-weight: 900;
    color: #520052;
    background: none;
    border: none;
}

.random {
    position: fixed;
    display: block;
    width: 80%;
    left: 10%;
    top: 10%;
    text-decoration: none;
    color: #520052;
}

.unit
{
    position: relative;
    display: block;
    margin: 0%;
    padding: 4.2% 4.2% 0 4.2%;
}

.select
{
	margin: 2.4% 4.2% 0 4.2%;
	min-height: 70px;
    max-width: 10cm;
	display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px
}

.button
{
    color: #520052;
    display: grid;
    margin: 0% 4.2% 0 4.2%;
    max-width: 10cm;
    grid-template-columns: auto 80% auto;
}

.linkb
{
    font-weight: 900;
    color: #520052;
    font-size: 5vmin;
    background: none;
    border: none;
}

.query
{
    position: relative;
    display: block;
    margin: 2.4% 4.2% 0 4.2%;
    padding: 0%;
}

.bottom {
    position: fixed;
    display: table;
    margin: 0;
    bottom: 0;
    width: 100%;
    min-height: 17px;
    background: #520052;
    text-align: center;
    color: white;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.bottom a
{
    color: white;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
}